header.language-selector {
  display: flex;
  justify-content: end;
  align-items: end;
  border: 1 px solid white;
  background-color: rgb(2, 2, 64);
  padding-top: 1 rem;
}

.language-selector__select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  opacity: 0;
  animation: fade-in 2s forwards;
}

.header.language-selector {
  background-color: rgb(2, 2, 64);
}

.language-selector__select option {
  background-color: white;
  color: #333;
}
