/* header {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  border: 1 px solid rgb(234, 241, 6);
  background-color: rgb(2, 2, 64);
  padding-top: 1 rem;
} */

header.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: end;
  border: 1 px solid rgb(234, 241, 6);
  background-color: rgb(2, 2, 64);
  padding-top: 1 rem;
}

div.root {
  width: 100vh;
  height: 100vh;
  background-color: rgb(2, 2, 64);
}

body {
  background-color: rgb(2, 2, 64);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(2, 2, 64);
  color: rgb(242, 242, 11);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.signup-form label {
  margin-bottom: 10px;
}

.signup-form input {
  margin-bottom: 15px;
}

.signup-form button {
  background-color: rgb(242, 242, 11);
} */
