* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  place-content: center;
}

body {
  background-color:rgb(20, 20, 113);
  background-image: url('../img/ekaru_bkgd_14_1920x1080.webp');
  max-width: 100%;
  max-height: 100%;
}

.initial{
  display: block;
  margin-left: 2rem;
}

h1 {
  padding: 5rem;
  color: black;
  text-decoration: underline;
}

h2 {
  text-decoration: dotted;
  color: white;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.button {
  margin: .9rem;
  border-radius: 2rem;
  max-height: max-content;
  color: rgba(68, 68, 210, 0.904);
  background-color: rgba(0, 0, 0, 0.754);
  cursor: pointer;
  width: 10em;
  height: 5ex;
  font-weight: bold;
  border-color:blue;
}

form {
  color: white;
  max-width:fit-content;
  /* max-height: 100%; */
  display: grid;
  place-content: center;
  position: relative;
}

fieldset {
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  background-color: rgba(161, 167, 201, 0.28);
  max-width: 700px;
  border-color: blue;
  border-style: hidden;
}

input {
  display: grid;
  justify-content: center;
  background-color:rgba(20, 20, 172, 0.554);
  padding: 0.3rem;
  color: white;
  border-radius: 0.6rem;
  margin: 0.45rem;
}


footer {
  padding: 1rem;
  text-align: center;
  position: absolute;
  justify-content: end;
  align-items: end;
  bottom: 0;
  width: 100%;
  color: white;
}
