* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  place-content: center;
}

body {
  background-color:rgb(20, 20, 113);
  background-image: url('../img/ekaru_bkgd_14_1920x1080.webp');
  max-width: 100%;
  max-height: 100%;
}

.initial{
  display: block;
  margin-left: 2rem;
}

h1 {
  padding: 5rem;
  color: black;
  text-decoration: underline;
}

.button {
  margin: .5rem;
  border-radius: 1rem;
  max-height: max-content;
  color: blue;
  background-color: black;
  cursor: pointer;
  width: 10em;
  height: 5ex;
  font-weight: bold;
}

form {
  color: white;
  max-width:fit-content;
  /* max-height: 100%; */
  display: grid;
  place-content: center;
  position: relative;
 
}

input {
  display: grid;
  justify-content: center;
  background-color: gray;
  padding: 0.3rem;
}

footer {
  padding: 1rem;
  text-align: center;
  position: relative;
  justify-content: end;
  align-items: end;
  bottom: 0;
  width: 100%;
}
