* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    place-content: left;
}

button {
    /* margin: .9rem; */
    border-radius: 50rem;
    max-height: max-content;
    color: rgba(68, 68, 210, 0.904);
    background-color: rgba(0, 0, 0, 0.754);
    cursor: pointer;
    width: 6em;
    height: 5ex;
    font-weight: bold;
    border-color:blue;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 9px;
}

li {
    display: grid;
    justify-content: space-around;
    align-items: self-end;
    width: 50vw;
}