.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px gray;
  background-color: white;
}

#root {
  background-image: url("/mobile_background.jpg");
  background-size: cover;
}
