.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px gray;
  background-color: white;
}

#root {
  background-image: url("/mobile_background.jpg");
  background-size: cover;
}

.centerWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.centerWrapper > h2 {
  text-align: center;
}

.centerWrapper > img {
  width: 55%;
}

.flagContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.flagContainer > img {
  width: 32px;
}

.active {
  border: 2px solid red;
}
